@use "../../assets/css/variables" as v;

.acf-block-preview {
    width: 100%!important;
    max-width: 100%!important;
    .ef3_heading_block {
        width: 70%;
        max-width: 70%;
        margin: auto;
    }
}

.ef3_box_content_boxes_block {
    padding: 200px 0;
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    .ef3_box_content_box {
        width: 50%;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        background: v.$black;
        div {
            padding: 50px;
            &:nth-child(even) {
                padding-top: 0px;
            }
        }
        h2 {
            font-size: 3rem;
            font-weight: 600;
            line-height: 1;
            color: v.$white;
        }
        p, li {
            color: rgba($color: v.$white, $alpha: 0.7);
        }
    }
    @media (max-width: v.$small) {
    }
}