@use "../../assets/css/variables" as v;

.acf-block-preview {
    width: 100%!important;
    max-width: 100%!important;
    h2, h3, span, .ef3_landing_block_image_right {
        opacity: 1!important;
    }
    @include v.globalButton(1);
}
.ef3_landing_block {
    width: 100%;
    position: relative;
    .ef3_landing_block_inner {
        height: 100vh;
        display: flex;
        align-items: center;
    }
    .ef3_landing_block_content {
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .ef3_landing_block_content_left {
            width: 60%;
        }
        .ef3_landing_block_content_right {
            width: 30%;
        }
        h2 {
            font-size: 6rem;
            line-height: 6rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 20px;
            color: v.$black;
        }
        h3 {
            font-size: 2.5rem;
            line-height: 3rem;
            font-weight: 400;
            color: v.$darkgray;
        }
        a {
            display: inline-block;
            margin-top: 40px;
            font-size: 1.5rem;
        }
        .ef3_landing_image {
            position: relative;
            div {
                position: relative;
                z-index: 3;
                width: 100%;
                aspect-ratio: 1 / 1;
                display: block;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                background-size: cover!important;
                -webkit-background-size: cover!important;
            }
            .ef3_landing_boxes {
                border-radius: 25px;
                -webkit-border-radius: 25px;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                content: "\00a0";
            }
            .ef3_landing_boxes {
                &.box1 {
                    background: v.$gold;
                    transform: translateX(80px) translatey(80px);
                    -webkit-transform: translateX(80px) translatey(80px);
                    z-index: 2;
                }
                &.box2 {
                    background: v.$black;
                    transform: translateX(-80px) translatey(-80px);
                    -webkit-transform: translateX(-80px) translatey(-80px);
                    z-index: 1;
                }
            }
        }
    }
    .ef3_quotes_wrap {
        position: absolute;
        right: 40%;
        bottom: 36%;
        z-index: 10;
        .ef3_quotes_item {
            width: 500px;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            background: rgba($color: v.$white, $alpha: 0.8);
            p {
                font-size: 1.1rem;
                line-height: 1.5rem;
                font-weight: 300;
                margin: 0;
                padding: 30px;
            }
        }
    }
    @media (max-width: v.$small) {
        overflow: hidden;
        padding: 100px 0;
        .ef3_landing_block_inner {
            height: auto;
            display: block;
        }
        .ef3_landing_block_content {
            width: 90%;
            display: block;
            .ef3_landing_block_content_left {
                width: 100%;
            }
            .ef3_landing_block_content_right {
                width: 100%;
                margin-top: 160px;
            }
            h2 {
                font-size: 4rem;
                line-height: 4rem;
            }
            h3 {
                font-size: 1.5rem;
                line-height: 2rem;
            }
            a {
                font-size: 1rem;
            }
        }
        .ef3_quotes_wrap {
            right: inherit;
            left: 5%;
            bottom: 15%;
            .ef3_quotes_item {
                width: 350px;
                p {
                    padding: 20px;
                }
            }
        }
    }
}