@use "../../assets/css/variables" as v;

.acf-block-preview {
    width: 100%!important;
    max-width: 100%!important;
    .ef3_box_content_block {
        width: 70%;
        max-width: 70%;
        margin: auto;
    }
}

.ef3_box_content_block {
    padding: 200px 0 0 0;
    position: relative;
    overflow-x: hidden;
    h2 {
        text-align: center;
        font-size: 3rem;
        font-weight: 900;
        margin: 0 0 100px 0;
    }
    .ef3_box_content_block_content {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
        .ef3_box_content_box {
            width: 47.5%;
            border: rgba($color: v.$black, $alpha: 0.7) 2px solid;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            background: v.$lightgray;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            padding: 50px;
            margin-bottom: 50px;
        }
    }
    .ef3_box_content_block_cta {
        margin-top: 80px;
        text-align: center;
    }
    @media (max-width: v.$small) {
        h2 {
            text-align: center;
            font-size: 3rem;
            line-height: 3rem;
            font-weight: 900;
            margin: 0 5% 100px 5%;
        }
        .ef3_box_content_block_content {
            .ef3_box_content_box {
                width: 100%!important;
                padding: 20px;
            }
        }
        .ef3_box_content_block_cta {
            width: 90%;
            margin: 0 auto;
        }
    }
}